{% extends 'rango/base.html' %}

{% load staticfiles %}

{% block title %} About {% endblock %}

{% block body_block %}
<div class="page-header">
                <h1>About</h1>
            </div>
            <div>
            <p>This is <strong>Rango's about page</strong>.</p>
            <p>You've visited the site on <strong>{{ visits }} occasion(s)</strong></p>
            <p>Here is a picture of Rango!</p>
            <img  width="90" height="100" src="{% static "images/rango1.jpg" %}" alt="Picture of Rango" /> <!-- New line -->
            </div>
{% endblock %}
